@use "./base/variables";
@use "./base/mixins";
@use "./base/reset";
@use "./base/base";

@use "./components/forms";
@use "./components/botones";

@use "./layout/footer";
@use "./layout/header";
@use "./layout/nav";

@use "./pages/actividades";
@use "./pages/historia";
@use "./pages/inicio";
@use "./pages/contacto";
@use "./pages/socios";