@use "../base/variables" as *;
@use "../base/mixins" as *;


/*actividades*/
/*lista actividades en bloque*/
.actividades {
    padding: $md;
    @include flex(center, $gap:$xl);
    margin: $sm;
    flex-wrap: wrap;       /* permite que bajen a otra fila si no caben */


    .actividad{ 
        background-color: $secondary-color;
        border-radius: $border-radius-md;
        border: $border-md solid $secondary-color;
        @include flex(center, center, column);
        padding: $md;
        width: calc(100% / 4);

    }

    img {
        @include size($img-xxl, $img-xl);
        border: $border-md solid $primary-color;
        border-radius: $border-radius-md;
        object-fit: cover;     // recorta para llenar sin deformar
        object-position: center; // centra la parte importante
    }

    h3 {      /*títulos debajo de cada imagen*/
        margin-top: $sm;
        text-align: center; 
        text-transform: uppercase;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    /*actividades*/
    .actividades{ 
        ul {
            gap: $lg;
        }

        li {          /* 2 tarjetas por fila */
            width: 45%;
        }


    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* ACTIVIDADES */
    .actividades{
        ul {
            @include flex($direction: column, $gap: $md);
        }

        li {          /* 1 tarjeta por fila */
            width: 100%;
        }
    }
}