@use "../base/variables" as *;
@use "../base/mixins" as *;


/*actividades*/
/*lista actividades en bloque*/
.actividades {
    @include flex(center);
    padding: $md;

    ul {          /*lista actividades en fila*/
        @include flex(center, $gap:$xl);
        list-style: none; /*quita los puntos de las listas*/
        flex-wrap: wrap;       /* permite que bajen a otra fila si no caben */
    }

    li{
        background-color: $secondary-color;
        border: $border-md solid $secondary-color;
        @include flex(center, center, column);
    }

    img {
        @include size($img-xxl, $img-xl);
        border: $border-md solid $primary-color;
        object-fit: cover;     // recorta para llenar sin deformar
        object-position: center; // centra la parte importante
    }

    h3 {      /*títulos debajo de cada imagen*/
        margin-top: $sm;
        text-align: center; 
        text-transform: uppercase;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    /*actividades*/
    .actividades{ 
        ul {
            gap: $lg;
        }

        li {          /* 2 tarjetas por fila */
            width: 45%;
        }


    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* ACTIVIDADES */
    .actividades{
        ul {
            @include flex($direction: column, $gap: $md);
        }

        li {          /* 1 tarjeta por fila */
            width: 100%;
        }
    }
}