@use "../base/variables" as *;

/*actividades*/
/*lista actividades en bloque*/
.actividades {
    display: flex;
    justify-content:center; /* centra horizontalmente */
    padding: $md;

    ul {          /*lista actividades en fila*/
        display: flex;
        list-style: none; /*quita los puntos de las listas*/
        justify-content:center; /* centra horizontalmente */
        flex-wrap: wrap;       /* permite que bajen a otra fila si no caben */
        gap: $lg; /* espacio entre ellos */
    }

    li{
        background-color: $secondary-color;
        border: $border-md solid $secondary-color;
    }

    img {
        width:$img-xxl;
        height:$img-xl;
        border: $border-md solid $primary-color;
    }

    h3 {      /*títulos debajo de cada imagen*/
        margin-top: $sm;
        text-align: center; 
        text-transform: uppercase;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    /*actividades*/
    .actividades{ 
        ul {
            gap: $lg;
        }

        li {          /* 2 tarjetas por fila */
            width: 45%;
        }

        img {          /*que las imágenes se adapten al li*/
            width: 100%;
            height: auto;
        }
    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* ACTIVIDADES */
    .actividades{
        ul {
            flex-direction: column;
            gap: $md;
        }

        li {          /* 1 tarjeta por fila */
            width: 100%;
        }
    }
}