@use "../base/variables" as *;
@use "../base/mixins" as *;


/*actividades*/
/*lista actividades en bloque*/
.actividades {
    padding: $md;
    @include flex(center, $gap:$xl);
    margin: $sm;
    flex-wrap: wrap;       /* permite que bajen a otra fila si no caben */


    .actividad{ 
        background-color: $secondary-color;
        border-radius: $border-radius-md;
        border: $border-md solid $secondary-color;
        @include flex(center, center, column);
        padding: $md;
        width: calc(100% / 4);

    }

    img {
        @include size($img-xxl, $img-xl);
        border: $border-md solid $primary-color;
        border-radius: $border-radius-md;
        object-fit: cover;     // recorta para llenar sin deformar
        object-position: center; // centra la parte importante
    }

    h3 {      /*títulos debajo de cada imagen*/
        margin-top: $sm;
        text-align: center; 
        text-transform: uppercase;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    /*actividades*/
    .actividades{ 
        @include flex(center, stretch, row, $xl);
        width: 100%;   
        flex-wrap: wrap;

        .actividad {
            @include flex(flex-start, center, column, $sm); // card en columna
             gap: $md;
            width: calc(50% - ($xl / 2)); // dos por fila con espacio
            height: 100%; // CLAVE para el sombreado
        }   
    }

}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* ACTIVIDADES */
    .actividades{
        @include flex(center, stretch, column, $md);
        width: 100%;

        .actividad {
            width: 100%;
        }

    }

    
}