@use "../base/variables" as *;

/*historia*/



/*sede nueva tamaño de imagen*/
#sedeNueva, #sedeVieja{
    display: flex;
    align-items: center;
    gap: $xs; /* espacio entre la imagen y el texto */

    img{ 
        width: $img-xxxxl;
        height: $img-xxxl;
        border: $border-md solid $secondary-color;
    }
}

#sedeNueva{
    justify-content: flex-end ; /* alinea a la derecha */
}

#sedeVieja{
    justify-content: flex-start ; /* alinea a la derecha */
}

/*adaptación mobile*/
@media (max-width: 576px) {

    /* HISTORIA */
    #sedeVieja,
    #sedeNueva{
        flex-direction: column;   /* imagen arriba, texto abajo */
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: $xs;

        img{
            width: 100%;
            max-width: $img-xxxl;
            height: auto;
        }

        p{
            max-width: 100%;
            font-size: $sm;
            line-height: 1.6;
            padding: $xxs;
        }
    }
}