@use "../base/variables" as *;
@use "../base/mixins" as *;


/*historia*/

/*sede nueva tamaño de imagen*/
#sedeNueva, #sedeVieja{
    @include flex($align: center, $gap: $xs);

    img{ 
        width: $img-xxxxl;
        height: $img-xxxl;
        border: $border-md solid $secondary-color;
    }
}

#sedeNueva{
    justify-content: flex-end ; /* alinea a la derecha */
}

#sedeVieja{
    justify-content: flex-start ; /* alinea a la derecha */
}

/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* HISTORIA */
    #sedeVieja,
    #sedeNueva{
        @include flex (center, center, column);
        padding: $xs;

        img{
            @include size(100%, auto);
            max-width: $img-xxxl;
        }

        p{
            max-width: 100%;
            font-size: $md;
            line-height: 1.6;
            padding: $xxs;
        }
    }
}