@use "../base/variables" as *;
@use "../base/mixins" as *;


/*historia*/

/*estilos main historia*/
main h1 {
  text-align: center;
  margin-bottom: $xl;
  color: $titulos-font-color;
}

/*sede vieja y sede nueva*/
#sedeVieja {
  @include flex(flex-start, center, row, $md);
  margin-bottom: $xl;
  padding: $lg;

  img {
    width: $img-big;
    height: auto;
    border-radius: $border-radius-md;
  }

  .historia-texto {
    max-width: 750px;

    h2 {
      color: $titulos-font-color;
      margin-bottom: $sm;
    }
  }
}

#sedeNueva {
  @include flex(flex-end, center, row, $md);
  padding: $lg;

  img {
    width: $img-big;
    height: auto;
    border-radius: $border-radius-md;
  }
}

/* contenido historia */
.historia-contenido {
  max-width: 750px;

  article {
    margin-bottom: $md;

    h2 {
      color: $titulos-font-color;
      margin-bottom: $xs;
    }
  }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* HISTORIA */
    #sedeVieja,
    #sedeNueva{
        @include flex (center, center, column);
        padding: $xs;

        img{
            @include size(100%, auto);
            max-width: $img-xxxl;
        }

        p{
            max-width: 100%;
            font-size: $md;
            line-height: 1.6;
            padding: $xxs;
        }

    }

    .historia-texto,
    #sedeNueva article {
        max-width: 100%;
        text-align: left;
    }
}


@media (max-width: $bp-tablet) {

    .historia-texto,
    #sedeNueva article {
        max-width: 560px;
    }

    #sedeVieja img,
    #sedeNueva img {
        width: 320px;
        height: auto;
    }
}