@use "../base/variables" as *;
@use "../base/mixins" as *;

/*inicio*/
.actividades_inicio {
    @include flex(center);
    padding: $md;

    ul {                /*lista actividades en fila*/
        @include flex($gap: $lg);
        list-style: none; /*quita los puntos de las listas*/
        padding: $md $xs; 
    }

    li {         /*estilo del listado. button y h3 centrados*/  
        background-color: $secondary-color;
        text-align: center; 
        text-transform: uppercase;  
        padding: $xs;
    }

    img {
        @include size(100%, $img-xl);
        object-fit: cover;  /* recorta sin deformar */
        border-radius: $border-radius-md;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }
    }

    a {
        @include flex($align: center);
    }

    h3 {
        margin-top: $sm;
    }
}


.noticias {
    text-align: center;
    h2 {
        margin-top: $md;
        text-align: left;
    }
}


/*contenedor de las noticias en fila*/
.contenedor-noticias {
    @include flex(space-around, $gap: $lg);
    padding: $md;
    flex-wrap: wrap; /* por si en algún momento no entran */
}

/*tarjetas de noticias*/
.card-noticia {
    width: $img-xxxl;
    padding: $md;
    background: $secondary-color;
    border-radius: $xs;

    transition: transform 0.25s ease, box-shadow 0.25s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    img {
        @include size(100%, $img-xl);
        object-fit: cover;  /* recorta sin deformar */
        border-radius: $xs;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    h2 {
        text-align: center;
    }

    .actividades_inicio{
        img {
            @include size(75%, 75%);
        }

        ul {
            @include flex(center, $gap: $mdg);
    
            li:nth-child(3) {
                display: none; /* Oculto la tercera */
            }
        }
    }

    .contenedor-noticias {
        justify-content: center;
    }

    .card-noticia {
        width: 90%;
        max-width: $img-xxxxl;

        img{
            height: $img-xl;      /* todas iguales en mobile */
            object-fit: cover;
        }
    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* INICIO */
    .actividades_inicio{ 
        img {
            @include size(100%, auto);
        }

        ul {
            flex-direction: column;
            gap: $md;
    

            li:nth-child(3) {
            display: none;
            }
        }
    }

    /* NOTICIAS */
    .contenedor-noticias {
        @include flex(center, stretch, row, $lg);
    }

    .card-noticia {
        @include flex($direction: column);
        height: 100%;

        a  {
            margin-top: auto;
        }

        img {
            height: $img-lg;
        }
    }
}