@use "../base/variables" as *;
@use "../base/mixins" as *;

/*inicio*/
.actividades_inicio {
    @include flex(center, stretch, row, $lg);
    padding: $lg;

    .actividad_inicio {
        @include flex(space-between, center, column, $sm);

        text-align: center;

        background-color: $secondary-color;
        border-radius: $border-radius-md;
        padding: $md;

        width: calc(100% / 3);
    }

    img {
        @include size($img-xxl, $img-xl);
        object-fit: cover;  /* recorta sin deformar */
        border-radius: $border-radius-md;

        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }
    }

    a {
        margin-top: auto;
    }

    h3 {
        margin-top: $sm;
        text-transform: uppercase;
        color: titulos-font-color;
        text-align: center;
    }
}


.noticias {
    text-align: center;
    h2 {
        margin-top: $md;
        text-align: left;
    }
}


/*contenedor de las noticias en fila*/
.contenedor-noticias {
    @include flex(space-around, $gap: $lg);
    padding: $md;
    flex-wrap: wrap; /* por si en algún momento no entran */
}

/*tarjetas de noticias*/
.card-noticia {
    @include size($img-xxxl, $img-big);
    height: 520px; // ajustá a ojo
    @include flex(flex-start, stretch, column, $sm);
    width: $img-xxxl;
    padding: $md;
    background: $secondary-color;
    border-radius: $xs;

    transition: transform 0.25s ease, box-shadow 0.25s ease;

    a {
        margin-top: auto;
        @include flex($align: center);
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    img {
        @include size(100%, $img-xl);
        object-fit: cover;  /* recorta sin deformar */
        border-radius: $xs;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    .actividades_inicio{
        img {
            @include size(75%, 75%);
        }
    }

    .contenedor-noticias {
        justify-content: center;
    }

    .card-noticia {
        @include size(70%, 100%);

    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* INICIO */
    .actividades_inicio{ 
        img {
            @include size(100%, auto);
        }

        .actividad_inicio {
            width: 100%;
        }
        .actividad_inicio:nth-child(3) {
            display: none;
        }
    }

    /* NOTICIAS */
    .contenedor-noticias {
        @include flex(center, stretch, row, $lg);
    }

    .card-noticia {
        @include flex($direction: column);
        @include size(80%, 100%);

        a  {
            margin-top: auto;
        }

        img {
            height: $img-lg;
        }
    }
}