@use "../base/variables" as *;
@use "../base/mixins" as *;


/*footer*/
/*footer color de fondo*/
footer{
    background-color: $font-color;
    color: $primary-color;
    font-weight: 1000;
    padding: $xs $md;

    form {
        @include flex(center, center, column);
    }
}


/*estilo redes sociales en el footer*/
.redes {
    @include flex(flex-end, center, row, $md);
    padding: $xs;

    img {             /*iconos de redes sociales tamaño*/
        @include size($img-sm, $img-sm);
    }

    .escudo_footer {
        margin-right: auto;
        img {           /*icono escudo tamaño*/
            @include size($img-lg, $img-lg);
        }
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    /*redes footer*/
    .redes {
        @include flex(flex-start, center, row, $md);   
        padding: $xs;

        img {           /*iconos de redes sociales tamaño*/
            @include size($img-xs, $img-xs);
        }

        .escudo_footer {
            img {           /*icono escudo tamaño*/
                @include size($img-md, $img-md);
            }
        }   
    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* FOOTER */
    .redes {
        @include flex(center, $gap: $sm);

        img {
            width: $img-xs;
            height: $img-xs;
        }
    }
}