@use "../base/variables" as *;
@use "../base/mixins" as *;


/*footer*/
/*footer color de fondo*/
footer{
    background-color: $font-color;
    color: $primary-color;
    font-weight: 1000;
    padding: $xs $md;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*estilo redes sociales en el footer*/
.redes {
    @include flex(end, center);
    gap: $md;              /* espacio entre los íconos */
    padding: $xs;

    img {             /*iconos de redes sociales tamaño*/
        width: $img-sm;
        height: $img-sm;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    /*redes footer*/
    .redes {
        @include flex(flex-start, center);   
        gap: $md;              /* espacio entre los íconos */
        padding: $xs;

        img {           /*iconos de redes sociales tamaño*/
            width: $img-xs;
            height: $img-xs;
        }
    }   
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    /* FOOTER */
    .redes {
        justify-content: center;
        gap: $sm;

        img {
            width: $img-xs;
            height: $img-xs;
        }
    }
}