@use "../base/variables" as *;


/*footer*/
/*footer color de fondo*/
footer{
    background-color: $font-color;
    color: $primary-color;
    font-weight: 1000;
    padding: $xs $md;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*estilo redes sociales en el footer*/
.redes {
    display: flex;
    gap: $md;              /* espacio entre los íconos */
    padding: $xs;
    justify-content:end; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */

    img {             /*iconos de redes sociales tamaño*/
        width: $img-sm;
        height: $img-sm;
    }
}


/*adaptación tablet*/
@media (max-width: 800px){

    /*redes footer*/
    .redes {
        display: flex;
        gap: $md;              /* espacio entre los íconos */
        padding: $xs;
        justify-content:flex-start; 
        align-items: center;     /* centra verticalmente */

        img {           /*iconos de redes sociales tamaño*/
            width: $img-xs;
            height: $img-xs;
        }
    }   
}


/*adaptación mobile*/
@media (max-width: 576px) {

    /* FOOTER */
    .redes {
        justify-content: center;
        gap: $sm;

        img {
            width: $img-xs;
            height: $img-xs;
        }
    }
}