@use "../base/variables" as *;
@use "../base/mixins" as *;


header a:hover, 
header a:focus-visible{
    text-decoration: underline;
    color: $font-color;
}

/*box que contiene logo y h2 alineados a la izquierda*/
.box {
    width: 100%;
    @include flex(flex-start, center, row, $sm);
    text-align: left;
}

/*logo imagen y texto alineados*/
.logo {
    @include flex(flex-start, center);
    margin: $xs;

    img {         /*logo tamaño*/
        @include size($img-lg, $img-lg);
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    .box {
        @include flex(center, center, column);
    }

    .logo { 
        margin: $xxs;
        justify-content: center;

        img {
            @include size(50%, 50%);
        }
    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    .logo img {
        @include size(60%, auto);
    }
}