@use "../base/variables" as *;
@use "../base/mixins" as *;


header a:hover, 
header a:focus-visible{
    text-decoration: underline;
    color: $font-color;
}

/*box que contiene logo y h2 alineados a la izquierda*/
.box {
    width: 100%;
    @include flex(flex-start, center);
    text-align: left;
    gap: $sm;
}

/*logo imagen y texto alineados*/
.logo {
    @include flex(flex-start, center);
    margin: $xs;

    img {         /*logo tamaño*/
        width: $img-lg;
        height: $img-lg;
    }
}


/*adaptación tablet*/
@media (max-width: $bp-tablet) {

    .box {
        flex-direction: column;
        text-align: center;
    }

    .logo { 
        margin: $xxs;
        justify-content: center;

        img {
            width: 50%;
            height: 50%;
        }
    }
}


/*adaptación mobile*/
@media (max-width: $bp-mobile) {

    .logo img {
        width: 60%;
        height: auto;
    }
}