@use "../base/variables" as *;


/*nav con logo a la izquierda y lista a la derecha*/
.menuNav, .nav-link {
    display: flex;
    background-color: $header-color;
    color: $primary-color;
}

/*nav lista en fila*/
nav ul {
    gap: $lg;
    margin-top: $xs; /* espacio entre logo y menú */
    padding: $xs;
    font-weight: 1000
}

/*nav columna*/
.navCol {
    flex-direction: column; 
}

/*menu alineado a la derecha*/
.menuDerecha {
    align-self: flex-end;   
    margin-top: $xl;        
}


/*adaptación tablet*/
@media (max-width: 800px){

    /*nav centrado*/
    nav ul {
        gap: $md;
        margin-top: $xs; /* espacio entre logo y menú */
        padding: $xs;
        font-weight: 1000;
    }
}


/*adaptación mobile*/
@media (max-width: 576px) {

    /* NAV */
    nav ul {
        flex-direction: column;
        gap: $xs;
        padding: 5px;
    }
}