@use "../base/variables" as *;


/*nav con logo a la izquierda y lista a la derecha*/
.menuNav, .nav-link {
    display: flex;
    background-color: $header-color;
    color: $primary-color;
}

/*nav lista en fila*/
nav ul {
    gap: 40px;
    margin-top: 10px; /* espacio entre logo y menú */
    padding: 10px;
    font-weight: 1000
}

/*nav columna*/
.navCol {
    flex-direction: column; 
}

/*menu alineado a la derecha*/
.menuDerecha {
    align-self: flex-end;   
    margin-top: 1rem;        
}


/*adaptación tablet*/
@media (max-width: 800px){

    /*nav centrado*/
    nav ul {
        gap: 20px;
        margin-top: 10px; /* espacio entre logo y menú */
        padding: 10px;
        font-weight: 1000;
    }
}


/*adaptación mobile*/
@media (max-width: 576px) {

    /* NAV */
    nav ul {
        flex-direction: column;
        gap: 10px;
        padding: 5px;
    }
}