@use "../base/variables" as *;

.forms{
    background-color: $secondary-color;
    border: $border-xxs solid $primary-color;
    color: $titulos-font-color;
    font-size: $md;
    cursor: pointer;

    transition: background-color 0.2s ease, transform 0.15s ease;

    &:hover {
        background-color: $header-color;
        transform: translateY(-2px);
    }
}