@use "../base/mixins" as *;
@use "../base/variables" as *;

.botonCentrado {
    margin-top: auto;
    @include flex(center, center);
    border: $border-xxs solid $font-color;
    font-size: $md;
    cursor: pointer;

    text-decoration: none;

    &:hover {
        transform: translateY(-2px);
    }
    
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

