@use "variables" as *;

/*general*/
/*títulos h1 centrado y en mayúsculas*/
h1{
    text-transform: uppercase;
    text-align: center;
    color: $titulos-font-color;
}

main{
    background-color: $primary-color;
    font-family: "Roboto", sans-serif;
    color: $titulos-font-color ;
    padding: $xs $md; /* espacio alrededor */

    p{  /*parrafos dentro del main*/
        font-size: $md;
        color: $font-color;
        background-color: $secondary-color;
    }

    a{ /*links dentro del main color negro y subrayado*/
        color: $font-color;
        text-decoration: underline;
        transition: color 2s ease, text-decoration-color 0.2s ease;
        &:hover{
            text-decoration: underline;
            color: $header-color;
        }
    }
}