/*colores variables*/
$primary-color: #ffffff;
$secondary-color: #f5f5f5;
$header-color: #ff0000;
$titulos-font-color: #D62828;
$font-color: #000000;

/*tamaños variables*/
$xs: 10px;
$sm: 12px;
$md: 20px;
$lg: 40px;
$xl: 1rem;
$xxl: 2rem;