/* Colores variables */
$primary-color: #ffffff;
$secondary-color: #f5f5f5;
$titulos-color: #D62828;
$font-color: #000000;
$header-color: #ff0000;

/*tamaños variables*/
$xs: 10px;
$sm: 12px;
$md: 20px;
$xl: 2rem;