//colores variables//
$primary-color: #ffffff;
$secondary-color: #f5f5f5;
$header-color: #c1121f;
$titulos-font-color: #D62828;
$font-color: #000000;

//tamaños variables//
$xxs: 5px;
$xs: 10px;
$sm: 12px;
$md: 20px;
$mdg: 30px;
$lg: 40px;
$xl: 140px;


//img variables//
$img-xs: 20px;
$img-sm: 30px;
$img-md: 50px;
$img-lg: 100px;
$img-xl: 200px;
$img-xxl: 250px;
$img-xxxl: 300px;
$img-xxxxl: 400px;

//border variables//
$border-xxs: 1px;
$border-sm: 2px;
$border-md: 5px;

//border-radius variables//
$border-radius-md: 10px;

// Breakpoints
$bp-mobile: 576px;
$bp-tablet: 800px;
