/*selector + propiedad con valor*/ 
main{
  background-color:#ffffff;
  font-family: "Roboto", sans-serif;
  color: #D62828 ;
  padding: 10px 20px; /* espacio alrededor */
}

/*parrafos dentro del main*/
main p{ 
    font-size: 18px;
    color: #000000;
    background-color: #F5F5F5;
}


header a:hover, 
header a:focus-visible{
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

/*nav con logo a la izquierda y lista a la derecha*/
.menuNav, .nav-link {
  display: flex;
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}

/*nav lista en fila*/
nav ul {
  gap: 40px;
  margin-top: 10px; /* espacio entre logo y menú */
  padding: 10px;
  font-weight: 1000
}

/*nav columna*/
.navCol {
  flex-direction: column; 
}

/*menu alineado a la derecha*/
.menuDerecha {
  align-self: flex-end;   
  margin-top: 1rem;        
}

/*box que contiene logo y h2 alineados a la izquierda*/
.box {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  text-align: left;
  gap: 1rem;
}


/*logo imagen y texto alineados*/
.logo {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-start;
}

/*logo tamaño*/
.logo img {
  width: 100px;
  height: 100px;
}



/*general*/
/*títulos h1 centrado y en mayúsculas*/
h1{
    text-transform: uppercase;
    text-align: center;
}


/*links dentro del main color negro y subrayado*/
main a{
    color: #000000;
    text-decoration: underline;
}

main a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}



/*inicio*/
.actividades_inicio {
  display: flex;
  justify-content:center; /* centra horizontalmente */
  padding: 20px;
}

/*lista actividades en fila*/
.actividades_inicio ul {
  display: flex;
  list-style: none; /*quita los puntos de las listas*/
  gap: 170px; /* espacio entre ellos */
  padding: 20px 10px; 
}

/* estilo del listado. button y h3 centrados*/
.actividades_inicio li {
  background-color: #F5F5F5;
  text-align: center; 
  text-transform: uppercase;  
  padding: 10px;
}

.actividades_inicio img {
    width: 100%;
    height: 200px;      /* todas mismo alto */
    object-fit: cover;  /* recorta sin deformar */
    border-radius: 10px;
}


.actividades_inicio a {
  align-items: center; 
}

.noticias {
  text-align: center;
}

.noticias h2 {
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
}


.contenedor-noticias {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap; /* por si en algún momento no entran */
}

.card-noticia {
  width: 300px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
}


.card-noticia img {
    width: 100%;
    height: 200px;      /* todas mismo alto */
    object-fit: cover;  /* recorta sin deformar */
    border-radius: 10px;
}



/*contacto*/
/*botones de los forms*/
.forms{
    background-color: rgba(200, 220, 240, 0.573);
    border: #ffffff 1px solid;
    color: #D62828;
    font-size: 16px;
    cursor: pointer;
}

/*etiquetas del forms de contacto*/
.formContacto label{ 
    font-weight: 500;
    color: #000000;
}



/*actividades*/
/*lista actividades en bloque*/
.actividades {
  display: flex;
  justify-content:center; /* centra horizontalmente */
  padding: 20px;
}

/*lista actividades en fila*/
.actividades ul {
  display: flex;
  list-style: none; /*quita los puntos de las listas*/
  justify-content:center; /* centra horizontalmente */
  flex-wrap: wrap;       /* permite que bajen a otra fila si no caben */
  gap: 170px; /* espacio entre ellos */
}


.actividades li {
  background-color: #F5F5F5;
  border: #F5F5F5 5px solid;

}

.actividades img {
  width:250px;
  height:200px;
  border: #ffffff 5px solid;
}

/*títulos debajo de cada imagen*/
.actividades h3 {
  text-align: center; 
  text-transform: uppercase;
}

.botonCentrado {
  display: flex;
  justify-content: center;
}


/*historia*/
/*sede vieja tamaño de imagen*/
#sedeVieja{
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre la imagen y el texto */
}

#sedeVieja img{
  width: 400px;
  height: 300px;
  padding: 0; /* espacio arriba y abajo */
  border:#F5F5F5 5px solid;
}

/*sede nueva tamaño de imagen*/
#sedeNueva{
  display: flex;
  justify-content: flex-end ; /* alinea a la derecha */
  align-items: center;
  gap: 10px; /* espacio entre la imagen y el texto */
}

#sedeNueva img{ 
  width: 400px;
  height: 300px;
  border:#F5F5F5 5px solid;
}



/*socios*/
/*beneficios color negro*/
.beneficios{
  color: #000000;

}



/*footer*/
/*footer color de fondo*/
footer{
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-weight: 1000;
  padding: 10px 20px;
}

footer form {
  display: flex;
  flex-direction: column;
  align-items: center;

}


/*estilo redes sociales en el footer*/
.redes {
  display: flex;
  gap: 20px;              /* espacio entre los íconos */
  padding: 10px;
  justify-content:end; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
}

/*iconos de redes sociales tamaño*/
.redes img {
  width: 30px;
  height: 30px;
}



/*adaptación mobile*/
@media (max-width: 800px){

  /*nav centrado*/
  nav ul {
    gap: 20px;
    margin-top: 10px; /* espacio entre logo y menú */
    padding: 10px;
    font-weight: 1000;
  }


  .box {
    flex-direction: column;
    text-align: center;
  }

  .logo { 
    margin: 5px;
    justify-content: center;
  }

  .logo img {
    width: 50%;
    height: 50%;
  }

    /*inicio*/
  .actividades_inicio img {
    width: 75%;
    height: 75%;
  }
  .actividades_inicio ul {
    gap: 100px; /* menos espacio entre ellos */
    justify-content: center;
  }

  .actividades_inicio ul li:nth-child(3) {
    display: none; /* Oculto la tercera */
  }

  .contenedor-noticias {
    justify-content: center;
  }

  .card-noticia {
    width: 90%;
    max-width: 400px;
  }

  .card-noticia img {
    height: 180px;      /* todas iguales en mobile */
    object-fit: cover;
  }


  /*actividades*/
   .actividades ul {
    gap: 40px;
  }

  /* 2 tarjetas por fila */
  .actividades li {
    width: 45%;
  }

  /* que las imágenes se adapten al li */
  .actividades img {
    width: 100%;
    height: auto;
  }



  /*redes footer*/
  .redes {
    display: flex;
    gap: 20px;              /* espacio entre los íconos */
    padding: 10px;
    justify-content:flex-start; 
    align-items: center;     /* centra verticalmente */
  }

  /*iconos de redes sociales tamaño*/
  .redes img {
    width: 20px;
    height: 20px;
  }

}